@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: black;
    justify-content: flex-start;
    list-style-type: none;
    gap: 20px;
    height: 80px;
}
nav ul li{
    color: white;
    padding: 0px 10px;
}
.brand img{
    width: 44px;
    height: 44px;
    padding: 0px 8px;
}
.brand{
    display: flex;
    align-items: center;
}